<section class="py-19 bg-[#f0fdf4]">
  <div class="container">

    <div class="flex items-start justify-between mb-10" style="direction: ltr;">

     
      <a class="flex items-center gap-2 text-[var(--primary)] font-bold text-[15px] cursor-pointer hover:text-[var(--secondary)] transition mt-2">
        عرض الكل ←
      </a>

    
      <div class="text-right">
        <h2 class="text-[36px] font-extrabold text-[var(--secondary)]">الخدمات</h2>
        <p class="text-[15px] text-[var(--text)]">كل ما تحتاجه في مكان واحد</p>
      </div>

    </div>

    <!-- Cards -->
    <div class="grid grid-cols-4 gap-5 mb-10">
      @for (service of visibleServices; track service.id) {
        <app-reusable-card [service]="service" />
      }
    </div>

   
   <div class="flex items-center justify-end gap-3">

      <button
        (click)="prev()"
        [disabled]="currentPage === 0"
        class="w-11 h-11 rounded-full flex items-center justify-center transition-all duration-300 disabled:opacity-30"
        [ngClass]="currentPage !== 0
          ? 'bg-[var(--secondary)] text-white hover:bg-[var(--hover)]'
          : 'bg-white border border-gray-200 text-[var(--primary)]'"
      >
        <span class="text-xl font-bold">‹</span>
      </button>

      @for (dot of dots; track $index) {
        <span
          (click)="goTo($index)"
          class="rounded-full cursor-pointer transition-all duration-300"
          [ngClass]="$index === currentPage
            ? 'w-4 h-4 bg-[var(--secondary)]'
            : 'w-3 h-3 bg-gray-300 hover:bg-gray-400'"
        ></span>
      }

      <button
        (click)="next()"
        [disabled]="currentPage === totalPages - 1"
        class="w-11 h-11 rounded-full flex items-center justify-center transition-all duration-300 disabled:opacity-30"
        [ngClass]="currentPage !== totalPages - 1
          ? 'bg-[var(--secondary)] text-white hover:bg-[var(--hover)]'
          : 'bg-white border border-gray-200 text-[var(--primary)]'"
      >
        <span class="text-xl font-bold">›</span>
      </button>

    </div>

  </div>
</section>